@use '../abstracts' as *;

.main {
  --main-padding-i: 1.5rem;
  overflow-x: hidden;
  padding: rem(38) var(--main-padding-i);

  @include breakpoint-down(xsmall) {
    --main-padding-i: 1.125rem;
  }

  @include breakpoint(medium) {
    padding: rem(64) clamp(rem(24), 3vw, rem(30));
  }

  &__content {
    width: min(100%, rem(480));
    padding-block-start: rem(64);
    margin-inline: auto;

    @include breakpoint(medium) {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      column-gap: rem(24);
      padding-block-start: rem(124);
    }

    @include breakpoint(large) {
      width: min(100%, rem(1110));
    }
  }
}

.nav {
  width: min(100%, rem(1110));
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;

  &__logo {
    img {
      width: rem(24);

      @include breakpoint(medium) {
        width: rem(32);
      }
    }
  }
}

.menu {
  $nav-active: '.nav.active';
  position: relative;

  &__toggle {
    width: rem(26);
    height: rem(22);
    display: block;
    background: url('../images/icon-hamburger.svg') center / contain no-repeat;

    @include breakpoint(medium) {
      display: none;
    }

    #{$nav-active} & {
      background-image: url('../images/icon-close.svg');
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(28) rem(42);

    @include breakpoint-down(medium) {
      width: min(calc(100vw - var(--main-padding-i) * 2), rem(350));
      flex-direction: column;
      position: absolute;
      top: rem(60);
      right: 0;
      opacity: 0;
      visibility: hidden;
      z-index: 999;
      background-color: var(--white);
      padding: rem(28) rem(24);
      border-radius: rem(6);
      box-shadow: 0 rem(6) rem(20) rem(-4) rgba($color: #000000, $alpha: 0.2);
    }

    #{$nav-active} & {
      animation: show var(--duration) ease-in-out forwards;

      @keyframes show {
        0% {
          opacity: 0;
          visibility: hidden;
          transform: translateY(-10%);
        }
        100% {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }
    .nav.closing & {
      animation: closing var(--duration) ease-in-out forwards;

      @keyframes closing {
        0% {
          opacity: 1;
          visibility: visible;
        }
        100% {
          opacity: 0;
          visibility: hidden;
        }
      }
    }
  }

  &__item {
    width: 100%;
    text-align: center;

    &.login {
      @include breakpoint-down(medium) {
        padding-block-start: rem(28);
        border-block-start: rem(1) solid var(--blue-5);
      }

      @include breakpoint(medium) {
        position: relative;
        padding-inline-start: rem(42);

        &::before {
          content: '';
          --size: 0.375rem;
          width: var(--size);
          height: var(--size);
          display: block;
          position: absolute;
          left: calc(var(--size) / 2 * -1);
          top: 50%;
          background-color: var(--blue-5);
          border-radius: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

  &__link {
    font-family: var(--ff-barlow-condensed);
    font-weight: var(--fw-7);
    color: var(--blue-9);
    text-transform: uppercase;
    letter-spacing: 0.125em;

    @include breakpoint(medium) {
      transition: text-decoration var(--duration) ease;
      text-decoration: underline solid transparent;

      &:is(:hover, :focus-visible) {
        text-decoration-color: currentColor;
      }
    }

    @include breakpoint(large) {
      font-size: var(--fs-1);
    }

    .login & {
      color: var(--blue-5);
    }
  }
}

.illustration {
  position: relative;
  right: rem(22);

  @include breakpoint(medium) {
    width: clamp(rem(360), 46vw, rem(420));
    position: static;
  }

  @include breakpoint(large) {
    width: clamp(rem(490), 46vw, rem(510));
  }

  img {
    max-width: none;
    height: rem(240);

    @include breakpoint(medium) {
      height: rem(280);
    }

    @include breakpoint(large) {
      height: rem(450);
    }
  }
}

.intro {
  width: min(100%, rem(490));
  display: flex;
  flex-direction: column;
  row-gap: rem(18);
  margin-block-start: rem(86);

  @include breakpoint(medium) {
    margin-block-start: 0;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    column-gap: rem(18);
    font-family: var(--ff-barlow-condensed);
    font-size: var(--fs-2);
    text-transform: uppercase;
  }

  &__flag {
    width: rem(50);
    height: rem(26);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-9);
    font-weight: var(--fw-7);
    color: var(--white);
    letter-spacing: 0.063em;
    border-radius: rem(13);
  }

  &__button {
    width: rem(152);
    height: rem(40);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    background-color: var(--red);
    font-size: var(--fs-1);
    font-weight: var(--fw-7);
    color: var(--white);
    letter-spacing: 0.063em;
    border-radius: rem(6);
    transition: opacity var(--duration) ease;

    @include breakpoint(medium) {
      width: rem(184);
      height: rem(48);
    }

    &:is(:hover, :focus-visible) {
      opacity: 0.7;
    }
  }
}

.text-spaced {
  color: var(--blue-5);
  letter-spacing: 0.125em;

  &--big {
    @extend .text-spaced;
    letter-spacing: 0.25em;
  }
}
